* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary: #ff3708
}

body {
	background: #000000;
	font-family: "Foboto", sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}